.cell {
    border: 2px solid black;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cell-id {
    font-size: xx-small;
    right: 0px;
    position: absolute;
    bottom: 0px;
}