.section-actions {
    display: block;
}

.actions-main {
    display: flex;
    padding: 10px 0;
}

.actions-steps {
    display: block;
}

.section-game {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.section-game-table {
    border-collapse: collapse;
    border: 5px solid brown;
}

.table-td {
    padding: 0px;
}