.section-actions {
    display: block;
}

.actions-main {
    display: flex;
    padding: 10px 0;
}

.actions-steps {
    display: flex;
    justify-content: center;
}

.actions-input {
    margin: 0px 5px;
    width: 35px;
    align-self: center;
    padding: 5px 5px;
}

.section-game {
    padding: 10px;
    display: grid;
    justify-content: center;
}

.section-game-table {
    border-collapse: collapse;
    border: 5px solid brown;
}

.table-td {
    padding: 0px;
}