.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer {
  background-color: #282c34;
  justify-content: flex-end;
  align-items: center;
  color: white;
  display: flex;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer-span {
  padding-right: 20px;
}

.App-body {
  padding: 0px 20px 2.5rem 20px;
}

.App-link {
  color: #61dafb;
}
